.pre_ {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pre_>div {
    background-color: rgb(85, 45, 238);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 10px;

}